{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/app/datepicker/css/bootstrap-datepicker3.min.css')}}" />
{% endblock %}

{% block body %}
    {{ form_start(form) }}
<div class="row">
    {# erreurs du formulaire #}
    <div class="col-12">
        <div class="form-group">
        {{ form_errors(form.firstname) }}
        {{ form_errors(form.lastname) }}
        {{ form_errors(form.dateOfBirth) }}
        {{ form_errors(form.hasDriverLicence) }}
        {{ form_errors(form.car) }}
        {{ form_errors(form.color) }}
        </div>
    </div>
</div>

<div class="row">
    {# champs #}
    <div class="col-sm">
        <div class="form-group">
            <label>Prénom</label>
            {{ form_widget(form.firstname,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>Nom</label>
            {{ form_widget(form.lastname,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            <label>Date de naissance</label>
            <input type="text" class="form-control" id="ddn"/>
        </div>
        
    </div>
    <div class="col-sm">
        <div class="form-group">
            <label>
                {{ form_widget(form.hasDriverLicence,{'attr':{'class':''}}) }}Avez-vous le permis?
            </label>
        </div>

        <div class="form-group invisible" id="car-field">
            <label>Voiture</label>
            {{ form_widget(form.car,{'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group invisible" id="color-field">
            <label>Couleur</label>
            {{ form_widget(form.color,{'attr':{'class':'form-control'}}) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <input class="btn btn-success" type="submit" value="VALIDER"/>
    </div>
</div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/app/datepicker/js/bootstrap-datepicker.min.js')}}"></script>
<script type="text/javascript" src="{{ asset('bundles/app/datepicker/locales/bootstrap-datepicker.fr.min.js')}}"></script>
<script type="text/javascript">
    $('document').ready(function(){
        //toggle affichage des champs Voiture et Couleur
        var carColorFields =  $('#car-field,#color-field');
        var hasLicence = $("#{{form.hasDriverLicence.vars.id}}").attr('checked');
        if(hasLicence){
            carColorFields.removeClass('invisible');
        }

        $("#{{form.hasDriverLicence.vars.id}}").change(function(e){
            if(e.target.checked){
                carColorFields.removeClass('invisible');
            }else{
                carColorFields.addClass('invisible');
            }
        })

        //mise à jour champ date
        $('input#ddn').datepicker({})
        .on("changeDate", function(e) {
            $("#{{form.dateOfBirth.vars.id}}").val(e.target.value);
        });

        //recharger liste des couleurs
        $("#{{form.car.vars.id}}").change(function(e){
            var car_id =  e.target.value;
            //bloquer le champ pendant le chargement ajax
            $("#{{form.car.vars.id}}").attr('disabled',true);

            $.ajax({
                url: "{{path('colors')}}?car_id="+ car_id,
            })
            .done(function( data ) {
                $("#{{form.color.vars.id}}").html(data);

                $("#{{form.car.vars.id}}").removeAttr('disabled');
            })
            .fail(function(err){
                alert("une erreur est survenue");
                console.log(err);
                $("#{{form.car.vars.id}}").removeAttr('disabled');
            });
        });
    });
</script>
{% endblock %}