{% extends 'base.html.twig' %}


{% block body %}
<div class="row my-4">
    <div class="col-sm">
        <div class="jumbotron">
            <h1 class="display-3">Merci pour votre inscription!</h1>
        </div>
    </div>
</div>
{% endblock %}