{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        {# erreurs du formulaire #}
        <div class="col-12">
            <div class="form-group">
                <label>Etes-vous sûr ?</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <input class="btn btn-danger" type="submit" value="Supprimer"/>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <a href="{{ path('index') }}" class="btn btn-info">Retour a l'accueil</a>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
