<div class="col-12">
    <a href="{{ path('colornew',{color_id: 0})}}" class="btn btn-success my-4 float-right">AJOUTER</a>
</div>
<table class="table table-striped col-sm-12">
                    <tr>
                        <td>
                            Nom
                        </td>
                        <td>
                            Actions
                        </td>
                    </tr>
                    {% for couleur in couleurs %}
                    <tr>
                        <td>
                            {{couleur.name}}
                        </td>
                        <td>
                            <a class="btn btn-info" href="{{ path('colornew', {color_id: couleur.id}) }}">Editer</a>
                            <a class="btn btn-warning" href="{{ path('colordelete', {color_id: couleur.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>