{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-sm my-4">
        <div class="alert alert-primary" role="alert">
            {{text}}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm my-4">
        <a href="{{path('index')}}" class="btn btn-info">Accueil admin</a>
        <a href="{{path('accueil')}}" class="btn btn-success">Accueil front</a>
    </div>
</div>
{% endblock %}