{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        {# erreurs du formulaire #}
        <div class="col-12">
            <div class="form-group">
            {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="col-sm">
            <div class="form-group">
                <label>Nom</label>
                {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <input class="btn btn-info" type="submit" value="VALIDER"/>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
