{% extends 'base.html.twig' %} 
{% block title %}Administration{% endblock %} 
{% block body %}
<div class="row my-3">
<div class="col-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="prospect-tab" data-toggle="tab" href="#prospect" role="tab" aria-controls="prospect" aria-selected="true">Fiche prospect</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="voiture-tab" data-toggle="tab" href="#voiture" role="tab" aria-controls="voiture" aria-selected="false">Voiture</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="couleur-tab" data-toggle="tab" href="#couleur" role="tab" aria-controls="couleur" aria-selected="false">Couleur</a>
        </li>
    </ul>
</div>
</div>

<div class="row">
    <div class="col-12">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="prospect" role="tabpanel" aria-labelledby="prospect-tab">
            {% include 'admin/users.html.twig' with {'users' : users} %}
                
            </div>
            <div class="tab-pane fade" id="voiture" role="tabpanel" aria-labelledby="voiture-tab">
            {% include 'admin/voitures.html.twig' with {'voitures' : voitures} %}
            </div>
            <div class="tab-pane fade" id="couleur" role="tabpanel" aria-labelledby="couleur-tab">
            {% include 'admin/couleurs.html.twig' with {'couleurs' : couleurs} %}
            </div>
        </div>
    </div>
</div>
{% endblock %}