<table class="table table-striped">
                    <tr>
                        <td>
                            Nom
                        </td>
                        <td>
                            Prénom
                        </td>
                        <td>
                            Date de naissance
                        </td>
                        <td>
                            Permis ?
                        </td>
                        <td>
                            Voiture
                        </td>
                        <td>
                            Couleur
                        </td>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>
                            {{user.firstname}}
                        </td>
                        <td>
                            {{ user.lastname }}
                        </td>
                        <td>
                            {{ user. dateOfBirth|date("m/d/Y") }}
                        </td>
                        <td>
                            {{ user.hasDriverLicence == "1" ? "oui": "non" }}
                        </td>
                        <td>
                            {{ user.car }}
                        </td>
                        <td>
                            {{ user.color }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>