<div class="col-12">
    <a href="{{ path('carnew',{car_id: 0})}}" class="btn btn-success my-4 float-right">AJOUTER</a>
</div>
<table class="table table-striped col-sm-12">
                    <tr>
                        <td>
                            Modèle
                        </td>
                        <td>
                            Couleurs
                        </td>
                        <td>
                            Actions
                        </td>
                    </tr>
                    {% for voiture in voitures %}
                    <tr>
                        <td>
                            {{voiture.car|upper}}
                        </td>
                        <td>
                            {{ voiture.colors }}
                        </td>
                        <td>
                            <a class="btn btn-info" href="{{ path('carnew',{car_id: voiture.id})}}">Editer</a>
                            <a class="btn btn-warning" href="{{ path('cardelete',{car_id: voiture.id})}}">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>